.full-width {
    width: 100%;
}
.match_parent {
    height: 100%;
    width: 100%;
}
.width-fit {
    width: fit-content !important;
}

.heigth-fit {
    height: fit-content !important;
}

.half-width {
    width: 50%;
}
